.searchbox{
    &__container{

    }

    &__form{
        display: flex;
        align-items: center;
        background-color: white;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
        height: 25px;
        padding: 7px 12px;
        margin-left: 25px;
        color: grey;
        justify-content:space-between;
    }

    &__input{
        border: 0px;
        height: 25px;
        width: 100%;
        border-right: 1px solid #EDEDED;
        color: grey;
    }

    &__submit{
        border: none;
        background-color: white;
        color: grey;
        cursor: pointer;
        margin-left:12px
    }
}